[Unit]
Description=Stearlight SteamOS VR session
After=graphical.target NetworkManager-wait-online.service pipewire.service
Wants=NetworkManager-wait-online.service
Conflicts=getty@tty1.service

[Service]
User=stearlight
Group=stearlight
SupplementaryGroups=video render input audio seat
Environment=HOME=/var/home/stearlight
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=XDG_SESSION_TYPE=wayland
Environment=STEAM_GAMESCOPE_VRR_SUPPORTED=1
Environment=STEAM_MULTIPLE_XWAYLANDS=1
Environment=STEAM_USE_MANGOAPP=1
Environment=SVRT_EYE_WIDTH=1440
Environment=SVRT_EYE_HEIGHT=1600
Environment=SVRT_STEREO_OUTPUT_WIDTH=2880
Environment=SVRT_STEREO_OUTPUT_HEIGHT=1600
ExecStart=/usr/libexec/stearlight/session
Restart=always
RestartSec=2
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=graphical.target

